In [350]:
#Using the Histogram to perform Classification

In [351]:
import cv2 as cv
import os
import pandas as pd
import numpy as np
import json
import pickle
import time

In [352]:
from sklearn.svm import SVC
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix, f1_score, precision_score, recall_score, auc, roc_auc_score
from sklearn.utils import shuffle

In [353]:
car_df = pd.read_csv("Car_Hist_MinMax_Max1500_v4.csv", sep = ',', index_col = False)
noise_df = pd.read_csv("Noise_Hist_MinMax_Max1500_v4.csv", sep = ',', index_col = False)

In [355]:
#add labels
car_df['y'] = 1
noise_df['y'] = 0

In [356]:
#concatenate car and non-car dataset
df = pd.concat([car_df, noise_df])
df.head()

,0,1,2,3,4,5,6,7,8,9,...,1491,1492,1493,1494,1495,1496,1497,1498,1499,y
0,0.000000,0.000000,0.046512,0.000000,0.0,0.000000,0.015385,0.000000,0.00000,0.000000,...,0.1875,0.0,0.0,0.02381,0.010870,0.000000,0.000000,0.0000,0.0,1
1,0.000000,0.000000,0.116279,0.016949,0.0,0.041667,0.000000,0.000000,0.02439,0.044444,...,0.0000,0.0,0.0,0.02381,0.000000,0.027778,0.000000,0.0625,0.0,1
2,0.000000,0.047619,0.000000,0.000000,0.0,0.166667,0.000000,0.000000,0.00000,0.022222,...,0.1250,0.0,0.0,0.02381,0.000000,0.000000,0.000000,0.0000,0.0,1
3,0.016667,0.000000,0.023256,0.016949,0.0,0.041667,0.000000,0.022727,0.00000,0.000000,...,0.0000,0.0,0.0,0.00000,0.000000,0.000000,0.019048,0.0000,0.0,1
4,0.000000,0.047619,0.023256,0.016949,0.0,0.000000,0.000000,0.022727,0.00000,0.000000,...,0.0625,0.0,0.0,0.02381,0.032609,0.000000,0.019048,0.0000,0.0,1

In [358]:
#create X and y input for ML model
X = df.drop(columns = ['y'])
y = df['y']

#Do below when you have Columns 500 and 501
# X = df.drop(columns = ['y', '500','501'])
# y = df['y']
display(X.head())
display(y.head())

,0,1,2,3,4,5,6,7,8,9,...,1490,1491,1492,1493,1494,1495,1496,1497,1498,1499
0,0.000000,0.000000,0.046512,0.000000,0.0,0.000000,0.015385,0.000000,0.00000,0.000000,...,0.10,0.1875,0.0,0.0,0.02381,0.010870,0.000000,0.000000,0.0000,0.0
1,0.000000,0.000000,0.116279,0.016949,0.0,0.041667,0.000000,0.000000,0.02439,0.044444,...,0.00,0.0000,0.0,0.0,0.02381,0.000000,0.027778,0.000000,0.0625,0.0
2,0.000000,0.047619,0.000000,0.000000,0.0,0.166667,0.000000,0.000000,0.00000,0.022222,...,0.05,0.1250,0.0,0.0,0.02381,0.000000,0.000000,0.000000,0.0000,0.0
3,0.016667,0.000000,0.023256,0.016949,0.0,0.041667,0.000000,0.022727,0.00000,0.000000,...,0.10,0.0000,0.0,0.0,0.00000,0.000000,0.000000,0.019048,0.0000,0.0
4,0.000000,0.047619,0.023256,0.016949,0.0,0.000000,0.000000,0.022727,0.00000,0.000000,...,0.05,0.0625,0.0,0.0,0.02381,0.032609,0.000000,0.019048,0.0000,0.0

0    1
1    1
2    1
3    1
4    1
Name: y, dtype: int64

In [359]:
X_train, X_test, Y_train, Y_test = train_test_split(X.values, y.values, test_size = 0.05, shuffle = True)

In [360]:
Y_test[:5]

array([1, 1, 1, 1, 1])

In [361]:
len(X_train)

12637

In [362]:
model_SVC = SVC(probability=True)

In [363]:
#train the SVM classifier
start_time = time.time()
model_SVC.fit(X = X_train, y = Y_train)
print(time.time() - start_time)

558.6891770362854

In [364]:
Y_predict = model_SVC.predict(X_test)

In [365]:
f1_score(y_true = Y_test, y_pred = Y_predict)
#Previous Iteration: 2.1% - 20%
#After all corrections! v1: 99% -> v3: 0.997

0.9886914378029079

In [366]:
accuracy_score(y_true = Y_test, y_pred = Y_predict)
#Previous Iteration: 2.1% - 20%
#After all corrections! v1: 0.994 -> v3: 0.997

0.9894894894894894

In [367]:
#Testing the prediction accuracy with Validation Data
#import all the feature descriptors
#path_dir = os.getcwd()
#valid_dir = "\\".join((path_dir, "ORB_Dataset", "val"))
#valid_files = os.listdir(valid_dir)
#valid_car_dir = "\\".join((valid_dir, valid_files[0]))
#valid_noise_dir = "\\".join((valid_dir, valid_files[1]))
valid_car_dir = 'cars_1_819_val_nolabel.txt'
valid_noise_dir = 'nocars_1_847_val_nolabel.txt'

In [368]:
valid_noise_dir

'nocars_1_847_val_nolabel.txt'

In [369]:
#import descriptors from validation datasets
start_time = time.time()
valid_car_descriptors = []
with open(valid_car_dir, 'rb') as fil_name:
    valid_car_descriptors = pickle.load(fil_name)
print(time.time() - start_time)

1.129073143005371

In [370]:
start_time = time.time()
valid_noise_descriptors = []
with open(valid_noise_dir, 'rb') as fil_name:
    valid_noise_descriptors = pickle.load(fil_name)
print(time.time() - start_time)

0.863286018371582

In [371]:
#use this method to extract cluster labels from validation dataset
def cluster_labels(pickle_file, model):
    start_time = time.time()
    #pickle_file = car_descriptors
    
    img_cluster = []
    for img_desc in pickle_file:
        cluster_desc = []
        if (not img_desc is None) and len(img_desc)> 0:
            #for desc in img_desc:
            cluster_desc = model.predict(img_desc)
            img_cluster.append(cluster_desc)
    print(time.time() - start_time)
    return(img_cluster)

In [372]:
#import kmeans model
n_cluster = 1500
with open("KMeans_c_1500_b_32_rs_5_.sav", 'rb') as f_name:
    kmeans_batch = pickle.load(f_name)

In [373]:
valid_car_clusters = np.array(cluster_labels(pickle_file = valid_car_descriptors, model = kmeans_batch))
valid_noise_clusters = np.array(cluster_labels(pickle_file = valid_noise_descriptors, model = kmeans_batch))

43.54148983955383
45.27720808982849

In [374]:
display(np.shape(valid_car_clusters))
display(np.shape(valid_noise_clusters))

(819,)

(842,)

In [375]:
def cluster_histogram(img_clusters, n_clusters = 500):
    start_time = time.time()
    hist_arr = []
    for img in img_clusters:
        hist = np.zeros(n_clusters)
        for cluster in img:
            hist[cluster] += 1
        hist_arr.append(hist)
    print(time.time() - start_time)
    return(hist_arr)

In [376]:
#extract cluster histograms from validation dataset
n_cluster = 1500
car_hist = cluster_histogram(img_clusters = valid_car_clusters, n_clusters = n_cluster)
noise_hist = cluster_histogram(img_clusters = valid_noise_clusters, n_clusters = n_cluster)

1.2124431133270264
1.401026725769043

In [377]:
#standardise the histograms gained from validation dataset
valid_car_hist = pd.DataFrame(car_hist)
sscaler = StandardScaler()
valid_car_hist_ss = pd.DataFrame(sscaler.fit_transform(valid_car_hist))
#print(np.max(car_df_v1[0]))
mm_scalar = MinMaxScaler()
valid_car_hist_mm = pd.DataFrame(mm_scalar.fit_transform(valid_car_hist))

In [378]:
valid_noise_hist = pd.DataFrame(noise_hist)
sscaler = StandardScaler()
valid_noise_hist_ss = pd.DataFrame(sscaler.fit_transform(valid_noise_hist))
mm_scalar = MinMaxScaler()
valid_noise_hist_mm = pd.DataFrame(mm_scalar.fit_transform(valid_noise_hist))

In [379]:
sample_car_mm = valid_car_hist_mm
sample_noise_mm = valid_noise_hist_mm

sample_car_ss = valid_car_hist_ss
sample_noise_ss = valid_noise_hist_ss

In [380]:
# It happens that sometimes there are no freq found for that particular cluster
print(np.any(sample_car_mm.isna())) 
print(np.any(sample_noise_mm.isna()))

False
False

In [381]:
#save validation histograms
sample_car_mm.to_csv("Valid_Car_Hist_MinMax_Max1500_v1.csv", sep = ',', index= False)
sample_car_ss.to_csv("Valid_Car_Hist_SS_Max1500_v1.csv", sep = ',', index= False)
sample_noise_mm.to_csv("Valid_Noise_Hist_MinMax_Max1500_v1.csv", sep = ',', index= False)
sample_noise_ss.to_csv("Valid_Noise_Hist_SS_Max1500_v1.csv", sep = ',', index= False)

In [382]:
len(sample_car_mm)

819

In [383]:
valid_car_df = sample_car_mm
valid_noise_df = sample_noise_mm
valid_car_df['y'] = 1
valid_noise_df['y'] = 0
valid_df = pd.concat([valid_car_df, valid_noise_df])
valid_df

,0,1,2,3,4,5,6,7,8,9,...,1491,1492,1493,1494,1495,1496,1497,1498,1499,y
0,0.000000,0.230769,0.034483,0.000000,0.111111,0.153846,0.115385,0.111111,0.043478,0.086957,...,0.214286,0.307692,0.250000,0.071429,0.050,0.000000,0.0,0.083333,0.083333,1
1,0.000000,0.076923,0.034483,0.062500,0.000000,0.153846,0.076923,0.111111,0.000000,0.043478,...,0.000000,0.153846,0.166667,0.000000,0.000,0.050000,0.0,0.000000,0.000000,1
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.153846,0.076923,0.000000,0.086957,0.000000,...,0.071429,0.076923,0.000000,0.071429,0.000,0.000000,0.0,0.083333,0.000000,1
3,0.000000,0.000000,0.034483,0.062500,0.111111,0.000000,0.076923,0.111111,0.043478,0.086957,...,0.000000,0.000000,0.000000,0.071429,0.000,0.000000,0.0,0.083333,0.000000,1
4,0.000000,0.076923,0.034483,0.062500,0.111111,0.153846,0.153846,0.333333,0.086957,0.260870,...,0.071429,0.076923,0.083333,0.000000,0.100,0.000000,0.0,0.166667,0.083333,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
837,0.000000,0.083333,0.000000,0.000000,0.000000,0.000000,0.009174,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.0,0.142857,0.000000,0
838,0.000000,0.083333,0.133333,0.000000,0.000000,0.083333,0.018349,0.000000,0.000000,0.068966,...,0.000000,0.111111,0.000000,0.000000,0.000,0.000000,0.0,0.000000,0.076923,0
839,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.020000,0.095238,0.034483,...,0.090909,0.000000,0.071429,0.052632,0.025,0.052632,0.0,0.000000,0.000000,0
840,0.000000,0.083333,0.066667,0.000000,0.000000,0.083333,0.000000,0.000000,0.047619,0.034483,...,0.000000,0.000000,0.000000,0.000000,0.000,0.052632,0.0,0.000000,0.000000,0
841,0.055556,0.083333,0.333333,0.357143,0.000000,0.250000,0.018349,0.020000,0.142857,0.034483,...,0.090909,0.000000,0.214286,0.315789,0.000,0.000000,0.0,0.571429,0.000000,0

In [384]:
#df = shuffle(df)
X_valid = valid_df.drop(columns = ['y'])
y = valid_df['y']

#Do below when you have Columns 500 and 501
# X = df.drop(columns = ['y', '500','501'])
# y = df['y']
display(X.head())
display(y.head())

,0,1,2,3,4,5,6,7,8,9,...,1490,1491,1492,1493,1494,1495,1496,1497,1498,1499
0,0.000000,0.000000,0.046512,0.000000,0.0,0.000000,0.015385,0.000000,0.00000,0.000000,...,0.10,0.1875,0.0,0.0,0.02381,0.010870,0.000000,0.000000,0.0000,0.0
1,0.000000,0.000000,0.116279,0.016949,0.0,0.041667,0.000000,0.000000,0.02439,0.044444,...,0.00,0.0000,0.0,0.0,0.02381,0.000000,0.027778,0.000000,0.0625,0.0
2,0.000000,0.047619,0.000000,0.000000,0.0,0.166667,0.000000,0.000000,0.00000,0.022222,...,0.05,0.1250,0.0,0.0,0.02381,0.000000,0.000000,0.000000,0.0000,0.0
3,0.016667,0.000000,0.023256,0.016949,0.0,0.041667,0.000000,0.022727,0.00000,0.000000,...,0.10,0.0000,0.0,0.0,0.00000,0.000000,0.000000,0.019048,0.0000,0.0
4,0.000000,0.047619,0.023256,0.016949,0.0,0.000000,0.000000,0.022727,0.00000,0.000000,...,0.05,0.0625,0.0,0.0,0.02381,0.032609,0.000000,0.019048,0.0000,0.0

0    1
1    1
2    1
3    1
4    1
Name: y, dtype: int64

In [385]:
valid_df = valid_df.sample(frac = 1)

In [386]:
X_valid = valid_df.drop(columns='y')
y_valid = valid_df['y']

In [387]:
#obtain predictions for validation dataset
Y_valid_predict = model_SVC.predict(X_valid)
Y_valid_probs = model_SVC.predict_proba(X_valid)
Y_valid_probs = Y_valid_probs[:, 1]

In [388]:
#find validation F1, accuracy, precision, recall, and ROC AUC
f1_score(y_true = y_valid.values, y_pred = Y_valid_predict)

0.6968197879858657

In [394]:
accuracy_score(y_true = y_valid.values, y_pred = Y_valid_predict)

0.7417218543046358

In [390]:
precision_score(y_true = y_valid.values, y_pred = Y_valid_predict)

0.8271812080536913

In [391]:
recall_score(y_true = y_valid.values, y_pred = Y_valid_predict)

0.6019536019536019

In [392]:
roc_auc_score(y_true = y_valid.values, y_score = Y_valid_probs)

0.8497457939263164

In [393]:
#Dumping the trained model
name = "_".join(("SVC","VoW_Model_Max",str(n_cluster),"v1.save"))
pickle.dump(model_SVC, open(name, 'wb'))

In [ ]:
#Below finds validation metrics for augmented sets.

In [395]:
#load clustering model
kmeans_batch = None
with open("KMeans_c_500_b_32_rs_5_.sav", 'rb') as f_name:
    kmeans_batch = pickle.load(f_name)

In [396]:
aug_car_path = 'car_val_mixed.txt'
aug_noise_path = 'nocar_val_mixed.txt'

In [397]:
#obtain descriptors for datasets
start_time = time.time()
aug_car_descriptors = []
with open(aug_car_path, 'rb') as fil_name:
    aug_car_descriptors = pickle.load(fil_name)
print(time.time() - start_time)

1.214104175567627

In [398]:
start_time = time.time()
aug_noise_descriptors = []
with open(aug_noise_path, 'rb') as fil_name:
    aug_noise_descriptors = pickle.load(fil_name)
print(time.time() - start_time)

1.829178810119629

In [399]:
#create cluster labels, then histograms
aug_car_clusters = np.array(cluster_labels(pickle_file = aug_car_descriptors, model = kmeans_batch))
aug_noise_clusters = np.array(cluster_labels(pickle_file = aug_noise_descriptors, model = kmeans_batch))

4.496134996414185
2.5962228775024414

In [400]:
n_cluster = 500
aug_car_hist = cluster_histogram(img_clusters = aug_car_clusters, n_clusters = n_cluster)
aug_noise_hist = cluster_histogram(img_clusters = aug_noise_clusters, n_clusters = n_cluster)

0.26717710494995117
0.16149401664733887

In [401]:
#load saved model
svc_model = pickle.load(open('SVC_VoW_Model_Max_500_v1.save', 'rb'))

In [402]:
#standardize data
mm_scalar = MinMaxScaler()
aug_car_hist = pd.DataFrame(aug_car_hist)
aug_noise_hist = pd.DataFrame(aug_noise_hist)
aug_car_hist_mm = pd.DataFrame(mm_scalar.fit_transform(aug_car_hist))
aug_noise_hist_mm = pd.DataFrame(mm_scalar.fit_transform(aug_noise_hist))
aug_car_df = aug_car_hist_mm
aug_noise_df = aug_noise_hist_mm
aug_car_df['y'] = 1
aug_noise_df['y'] = 0
aug_df = pd.concat([aug_car_df, aug_noise_df])
aug_df

,0,1,2,3,4,5,6,7,8,9,...,491,492,493,494,495,496,497,498,499,y
0,0.000000,0.000000,0.0,0.000000,0.0,0.142857,0.111111,0.000,0.0,0.0,...,0.000000,0.000000,0.000000,0.214286,0.000000,0.0,0.000000,0.0,0.076923,1
1,0.000000,0.033333,0.0,0.166667,0.0,0.000000,0.000000,0.000,0.0,0.0,...,0.166667,0.000000,0.000000,0.071429,0.000000,0.0,0.000000,0.0,0.000000,1
2,0.000000,0.000000,0.0,0.000000,0.0,0.142857,0.000000,0.125,0.0,0.0,...,0.000000,0.000000,0.000000,0.071429,0.000000,0.0,0.000000,0.0,0.076923,1
3,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,1
4,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000,0.0,0.0,...,0.166667,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
662,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000,0.0,0.2,...,0.000000,0.000000,0.000000,0.035714,0.000000,0.0,0.166667,0.0,0.000000,0
663,0.090909,0.000000,0.0,0.000000,0.0,0.142857,0.000000,0.000,0.0,0.0,...,0.000000,0.142857,0.000000,0.000000,0.166667,0.0,0.000000,0.0,0.076923,0
664,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000,0.1,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0
665,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.111111,0.000,0.0,0.0,...,0.000000,0.000000,0.333333,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0
666,0.000000,0.000000,0.0,0.166667,0.0,0.142857,0.000000,0.750,0.2,0.0,...,0.000000,0.000000,0.000000,0.035714,0.000000,0.0,0.000000,0.0,0.000000,0

In [403]:
X_aug = aug_df.drop(columns = ['y'])
y_aug = aug_df['y']

In [404]:
#get predictions for augmented dataset
Y_aug_predict = svc_model.predict(X_aug)
Y_aug_probs = svc_model.predict_proba(X_aug)
Y_aug_probs = Y_aug_probs[:, 1]

In [405]:
#use predictions to calculate F1, accuracy, precision, recall, and ROC AUC score
f1_score(y_true = y_aug.values, y_pred = Y_aug_predict)

0.1835985312117503

In [406]:
accuracy_score(y_true = y_aug.values, y_pred = Y_aug_predict)

0.5

In [407]:
precision_score(y_true = y_aug.values, y_pred = Y_aug_predict)

0.5

In [408]:
recall_score(y_true = y_aug.values, y_pred = Y_aug_predict)

0.11244377811094453

In [409]:
roc_auc_score(y_true = y_aug.values, y_score = Y_aug_probs)

0.5